@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #f2f2f2;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

