form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 40vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, select{
   
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

label{
    margin: 10px;
    padding-right: 5px;
}